
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


.prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.prompt-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.prompt-message {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Prompt Button Container */
.prompt-buttons {
  display: flex;
  justify-content: center;
}

.prompt-button {
  margin: 0 10px;
}

.custom-form-control {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 16px;
  width: 50%;
}

.custom-form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}